MONGODB_URL=mongodb://localhost:27017/connectdevs
PORT=3001
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d
GITHUB_CLIENT_ID=<from github.com/settings/developers>
GITHUB_CLIENT_SECRET=<from the same page>
GITHUB_CALLBACK_URL=http://localhost:3001/github/callback
